@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
  /*background-color: lightblue;*/
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
h1 {
	font-family: 'Righteous', serif;
  text-align: center;
  color: white;
  font-size: 55px;
}
h2 {
  font-family: "Poppins", sans-serif;
  padding-left: 5%;
  font-weight: bold;
  color: white;
}

#header {
  background-color: black;
  height: 50px;
  width: 100%;
  opacity: .9;
  color: white;
}

.main {
  margin: 10px 15px;
}

.search_form form {
  display: inline;
}

.container {
  background-color: #4d4d4d;
  max-width: 60%;
  color: white;
  border-radius: 30px;
  margin-bottom: 20px;
}

.main-center {
  margin-top: 30px;
}
