<!doctype html>
<head>
    <link rel='shortcut icon' type='image/x-icon' href="https://png.icons8.com/color/40/000000/orchid.png" />
    <title>qt3.14 SENG3011</title>
</head>
    <h1>Welcome, USER!</h1>
    <a href="https://icons8.com">Icons pack by Icons8</a>
    <form action="http://127.0.0.1:5000/result", method = "POST">
        <p>Page <input type="text" name="Page" /></p>
        <p>Start <input type="text" name="Start" /></p>
        <p>End <input type="text" name="End" /></p>
        <p>Stats <input type="text" name="Stats" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
