<!doctype html>
<head>
    <link rel='shortcut icon' type='image/x-icon' href="https://png.icons8.com/color/40/000000/orchid.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/application.css">
        <title>qt3.14 SENG3011</title>
</head>

    <header>
      <h2>QT3.14</h2>
    </header>
    <h1>Facebook API</h1>
    <body background="{{url_for('static', filename='main-background.jpg')}}">
      <div class="container">
        <div class="row main">
          <div class="main-form main-center">
            <p>Search data for a company by filling in the fields below</p>
            <ul class="search_form">
              <form class="form" action="https://qt314.herokuapp.com/results", method = "POST">

                <div class="form-group">
                  <label for="page">Company</label>
                  <div class="cols-sm-10">
                    <div class="input-group col-sm-10">
                      <input type="text" class="form-control rounded" name="Page" placeholder="Enter a company name"/>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="page">Start date</label>
                  <div class="cols-sm-10">
                    <div class="input-group col-sm-10">
                      <input type="text" class="form-control" name="Start" />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="page">End date</label>
                  <div class="cols-sm-10">
                    <div class="input-group col-sm-10">
                      <input type="text" class="form-control" name="End" />
                    </div>
                  </div>
                </div>
                <div class="checkbox-group">
                  <label for="page">Stats</label>
                  <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="stat_id" value="1">id</label>
                  </div>
                  <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="stat_name" value="1">name</label>
                  </div>
                  <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="stat_website" value="1">website</label>
                  </div>
                  <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="stat_description" value="1">description</label>
                  </div>
                  <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="stat_category" value="1">category</label>
                  </div>
                  <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="stat_fancount" value="1">fan_count</label>
                  </div>

                    <p>Please tick at least one of the options below:</p>
                  <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="stat_postlikecount" value="1">post_like_count</label>
                  </div>
                  <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="stat_postcommentcount" value="1">post_comment_count</label>
                  </div>
                  <div class="checkbox">
                      <label class="checkbox"><input type="checkbox" name="stat_posttype" value="1">post_type</label>
                  </div>
                  <div class="checkbox">
                      <label class="checkbox"><input type="checkbox" name="stat_postmessage" value="1">post_message</label>
                  </div>
                  <div class="checkbox">
                      <label class="checkbox"><input type="checkbox" name="stat_postid" value="1">post_id</label>
                  </div>
                  <div class="checkbox">
                      <label class="checkbox"><input type="checkbox" name="stat_postcreatedtime" value="1">post_created_time</label>
                  </div>
                </div>

                <button type="submit" value="Submit" class="btn btn-primary">Search</button>

                  <!--<p><input type="submit" value="Submit" /></p>-->
              </form>
              </ul>
            </div>
          </div>
        </div>
      </body>
    <!--</ul>-->
